  @import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');



body {
  font-family: 'Poppins' sans-serif;
  background-color: #B7ADCF;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  font-family: 'Fredoka One', cursive;
  color: white;
  font-size: 32px;
}

.subtitulo {
  color: white;
  font-size: 20px;
}

.tarjetas {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 180px;
  height: 100px;
  background: #4F646F;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.tarjeta-de-mokepon img {
  width: 80px;
}

#boton-mascota{
  width: 180px;
  height: 40px;
  border-radius: 40px;
  background: #4F646F;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins';
  margin-top: 30px;

}

input {
  display: none;
}

#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
background-color: #4F646F;
padding: 10px;
box-sizing: border-box;
border-radius: 20px;
border-color: transparent;
width: 100px;
color: white;
font-family: 'Poppins' sans-serif;
}

#mensajes {
  width: 200px;
  background-color: #535657;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  
}

#boton-reiniciar {
  border: none;
  background-color: #B7ADCF;
  border-radius: 5px;
}